@inherits LayoutComponentBase

<NavMenu />

@Body

<footer>
    <div class="container">
        <NavLink href="/" class="logo-font">conduit</NavLink>
        <span class="attribution">
            &copy; @System.DateTime.Today.Year.ToString().
            An interactive learning project from <a href="https://thinkster.io">Thinkster</a>.
            Code licensed under MIT.
        </span>
    </div>
</footer>