@page "/signin"
@using BlazorClientSideRealWorld.Models
@using BlazorClientSideRealWorld.Services
@inject IUriHelper uriHelper
@inject UserService userApi
@inject IJSRuntime jsRuntime

<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign in</h1>
                <p class="text-xs-center">
                    <a href="/signup">Need an account?</a>
                </p>
                <ErrorMessages Errors="@errors" />
                <form>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="email" placeholder="Email" bind="@(userCredentials.Email)" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="password" placeholder="Password" bind="@(userCredentials.Password)" />
                    </fieldset>
                    <button class="btn btn-lg btn-primary pull-xs-right" type="button" onclick="@Submit">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@functions {
    UserCredentials userCredentials = new UserCredentials();
    ErrorsModel errors = new ErrorsModel();

    async Task Submit()
    {
        var response = await userApi.AttemptAuth(AuthenticationType.Login, userCredentials);

        if (response != null && response.HasSuccessStatusCode)
        {
            uriHelper.NavigateTo("/");
        }
        else
        {
            errors = response?.Errors ?? new ErrorsModel();
        }
    }
}